@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-down::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background: black;
  opacity: 0.4;
}

.theme-btn {
  max-width: fit-content;
  font-size: 16px;
  color: #fff;
  padding: 15px 25px;
  line-height: 1;
  transition: all 0.5s;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  text-align: center;
  overflow: hidden;
  background-color: #fca702;
  border: 2px solid transparent;
  box-shadow: 0 3px 24px rgb(0 0 0/10%);
}
